@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Jost', sans-serif;
  font-weight: normal;
}

.container {
  display: flex;
  background-color: rgba(255, 255, 255, 1);
  align-items: flex-start;
  justify-content: left;
}

.container img {
  width: 146px;
  border-radius: 50%;
  margin: 20px 0px;
}

.sidebar {
  width: 292px;
  /* height: 1067px; */
}

.bar {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bar h3 {
  color: #404040;
}

.sidebar ul {
  text-align: center;
  padding: 50px 0px;
}

.sidebar li {
  list-style: none;
  padding: 19px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-left: 5px solid white;
}

.sidebar li:hover {
  background: rgba(169, 82, 242, 0.1);
  border-left-color: #A952F2;
  cursor: pointer;
}

.bar p {
  color: rgba(64, 64, 64, 0.7);
}

.sidebar a {
  text-decoration: none;
  color: rgba(31, 31, 32, 0.6);
  font-size: 18px;
}

.sidebar a:hover {
  color: #A952F2;
}

.icons :hover {
  color: #A952F2;
}

.line {
  border-top: 1px solid #EEF1F8;
}

.line a {
  color: rgba(255, 21, 21, 0.68);
}

.line i {
  margin: 10px 20px;
  color: rgba(255, 21, 21, 0.68);
}

.sidebarsec {
  background-color: rgba(246, 243, 248, 1);
  width: 1440px;
  /* height: 1155px; */
  padding: 50px;
}


.slide {
  display: flex;
  justify-content: space-between;
}

.slide p {
  font-Weight: 600;
  color: rgba(31, 31, 32, 1);
  font-size: 32px;
  line-height: 46px;
  color: #1F1F20;
}

.btn {
  padding: 18px 32px;
  background: #A952F2;
  border-radius: 8px;
  border: 1px solid #A952F2;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.box {
  display: flex;
  margin: 30px 0px;
}

.box1,
.box2 {                                                                                                                                                                                                                                                                                                                             
  padding: 20px;
  background: rgba(255, 255, 255, 1);
  width: 353px;
  height: 132px;
  display: flex;
  border-radius: 10px;
  margin: 0 1rem;
}

.box2 i {
  background: #A952F2;
  box-shadow: 0px 8px 16px rgba(169, 82, 242, 0.25);
  border-radius: 10px;
  padding: 20px;
  color: #fff;
}

.box1 i {
  background: #FFBE0C;
  box-shadow: 0px 8px 16px rgba(242, 181, 13, 0.2);
  border-radius: 10px;
  padding: 20px;
  color: #fff;
}

.box1 p,
.box2 p {
  font-size: 24px;
  color: rgba(64, 64, 64, 0.7);
}

.box1 h3,
.box2 h3 {
  font-size: 24px;
  color: rgba(22, 108, 221, 1);
  font-weight: 300;
}

.box2 {
  margin-left: 50px;
}

.box11 {
  display: flex;
}

.box12,
.box13,
.box14 {
  width: 327px;
  height: 132px;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 30px;
  display: flex
}

.box12 i {
  background: #1D6AFF;
  box-shadow: 0px 8px 16px rgba(29, 106, 255, 0.2);
  border-radius: 10px;
  padding: 20px;
  color: #fff;
}

.box13 i {
  background: #FFBE0C;
  box-shadow: 0px 8px 16px rgba(255, 190, 12, 0.2);
  border-radius: 10px;
  padding: 20px;
  color: #fff;
}

.box14 i {
  padding: 20px;
  color: #fff;
  background: #A952F2;
  box-shadow: 0px 8px 16px rgba(169, 82, 242, 0.25);
  border-radius: 10px;
}

.box12 p,
.box13 p,
.box14 p {
  font-size: 24px;
  color: rgba(64, 64, 64, 0.7)
}

.box12 h3,
.box13 h3,
.box14 h3 {
  color: #166CDD;
  font-size: 24px;
  font-weight: 300;
}

.box13,
.box14 {
  margin-left: 20px;
}

.boximg img {
  Width: 100%;
  border-radius: 0px;
}

.icons {
  margin: 10px 20px;
  color: rgba(64, 64, 64, 0.68);
}
/* Navigation Bar */
nav{
  padding: .5rem 1rem ;
}